{% extends "main/layout.html" %}
{% block title %}
Coding Havoc - Contact
{% endblock %}

{% block navbar %}
<li><a href="{% url 'home' %}">Home</a></li>
<li><a href="{% url 'about' %}">About</a></li>
<li><a href="{% url 'links' %}">Links</a></li>
<li><a href="{% url 'projects' %}">Other Projects</a></li>
<li><a href="{% url 'hobbies' %}">Hobbies</a></li>
<li class="active"><a href="{% url 'contact' %}">Contact</a></li>
{% endblock %}

{% block content %}
<h1>Contact</h1>
<p>This page is will have ways to contact me, once I can find something that won't be flooded with spam. Until then, a good way to reach me is on my <a href="https://www.linkedin.com/in/sean-hayes-1a609888/" target="_blank">LinkedIn profile</a>.</p>
<hr>
<!-- <h3>Contact Method 1</h3>
<a href="#">Contact me</a>
<hr>
<h3>Contact Method 2</h3>
<a href="#">Contact me</a>
<hr>
<h3>Contact Method 3</h3>
<a href="#">Contact me</a> -->
{% endblock %}