{% extends "main/layout.html" %}
{% block title %}
Coding Havoc - Links
{% endblock %}

{% block navbar %}
<li><a href="{% url 'home' %}">Home</a></li>
<li><a href="{% url 'about' %}">About</a></li>
<li class="active"><a href="{% url 'links' %}">Links</a></li>
<li><a href="{% url 'projects' %}">Other Projects</a></li>
<li><a href="{% url 'hobbies' %}">Hobbies</a></li>
<li><a href="{% url 'contact' %}">Contact</a></li>
{% endblock %}

{% block content %}
<h1>Links</h1>
<p>Here are a few links that are about me: LinkedIn, my GitHub Dev repo where I upload most of my bigger projects (the code for this site is in a different repo, and I don't upload code from my testing or from courses I take on LinkedIn or Udemy). I'll add more as I expand.</p>
<hr>
<div class="row">
    {% for link in linkResults %}
    <div class="col-sm-4">
        <div class="well link-box">
          {% load static %}
          <a href="{{link.site}}" target="_blank">
              <img src= "{% static link.icon %}"
              alt="{{link.altText}}" width="100" height="100">
          </a>
        </div>
      </div>
    {% endfor %}
  </div>
  <hr>
  <p><i>No, I didn't leave out social media (Facebook, Twitter, etc), I just don't have those.</i></p>
{% endblock %}