<h3>Long time since last post</h3> 
<p>I knew this would happen when I started this, I would be good for posting a few updates then I would forget a few then be stuck trying to remember what I worked on since the last update.</p>
<h3>Teachers and the grade book</h3>
<p>I finished most of the grade book from the teacher perspective. Teachers can now log in, select the assignments for each course, and pair them up with students. Trying to update the display to only show assignments that haven/'t been assigned to students would have been too much for me to try taking on right now so I went with a different approach. The assignments are selected first, then the students, that information is sent back. A new entry is only added to the database if if that pairing isn/'t already there, not the most efficient but it works.</p>
<p>Another part of the grade book I worked on was showing the current grade and allowing teachers to provide a grade for each assignment. This part still needs a lot of work. For now, the page simply displays all of the assignments with some basic sorting. I have most of the elements in place to eventually allow for filtering based on assignment type, the week and/or the course.</p>
<h3>Updating courses and prerequisites</h3>
<p>This has been something I needed to work on for a while. I have been working with a small set of middle and high school courses that could be assigned to students at any time. I am starting to go through and updated and apply the idea of course prerequisites and tie it in with the grade book and implement a system of keeping track of which courses the students have complete. Then, I/'ll be able to update the process of assign multiple courses to individual students to only show courses where they have completed the required courses, example, only show World History 2 if the student has completed World History 1.</p>
<h3>Something new</h3>
<p>This has been something I/'ve wanted to work on for a while. I recently showed my son how to play the card game War, then sat down to write a program to play it. There won/'t be much of a user interface since all it would be is typing in a command or pressing a button to play the next card, over and over, until one player wins. It/'s mostly an exercise in figuring out the logic behind the game.</p>
<h3>New additions to either here or my spring boot application</h3>
<p>Trying to come up with some new projects that I can add to either of my main pages, possibly a cook book of different recipes I use in the kitchen</p>


<h3></h3>
<p></p>
