<!--To enter single quotes, put a backslash before the quote (change ' to \')-->
<p>I decided the other day to start up this little blog as a way of keeping the few of you that check out my site up to
    date on projects I\'m working on, and to show that I am working on things when updates on my various sites start
    slowing down</p>
<p>This first post is going to be big since I\'m going to talk about some stuff that\'s already up and running as well as
    provide some info about bigger project that I\'m working on and will add to my Spring monolith project.</p>
<ul>
    <li>First up is the obvious, this website. Built using Python/Django with some Bootstrap styling on the front end.
    </li>
    <li>Next up was a Java/Spring Boot application that is intended to be a portfolio monolithic collection of
        applications that come to mind. I started with a web based version of a classic: a Caesar Cipher application.
        Enter a message, select one or two keys, and encrypt. Encryption isn\'t good without a way to decrypt so that\'s
        there as well.</li>
    <li>Next up was an updated version of a site I first built several years ago using HTML, CSS, PHP and a MySQL
        database: a movie and TV Show database. This time, built using Java/Spring with a Postgres database and
        bootstrap styling. This went back to my early days of programming when I was starting out with Microsoft Access
        databases and experimenting with many-to-many relationships</li>
    <li>Then improved on the Caesar Cipher with a Passphrase Cipher. You can read up more on it on the site but the
        basic idea was instead of using numbers to set the key for shifting characters, use a word or set of words. Each
        character in the message is shifted by a letter from the passphrase.</li>
    <li>After that, I worked on a registration/login/logout system. Nothing fancy to it, it doesn\'t unlock or hold any
        information, doesn\'t allow you to suddenly have access to something on the site. It\'s just that, a registration,
        login and logout. I used it as a real life practice of getting information from a form, generating a salt hash,
        hashing a password, storing in the database, then checking the right information is provided when logging in.
    </li>
    <li>My big project lately has been a school management application. My child\'s school has a website for parents
            to log in and view/edit some information (addresses, emergency contact) but it is far from perfect (I\'ve had
            problems fixing errors, thankfully the basic information is there). That played into another programming
            tool I\'ve used when learning new languages, the idea of objects with nested objects and/or groupings of
            objects. In this case, keeping track of classes, with students, with grades, grouped by teachers, etc.This led me to start developing a management tool geared towards almost everyone involved in the education
            system.
        <ul>
            <li>Staff being able to:<ul>
                    <li>Validate parents and students</li>
                    <li>Building up courses and assigning teachers to those course</li>
                    <li>Assigning students to courses and viewing who was enrolled in which courses</li>
                </ul>
            </li>
            <li>Teachers being able to:<ul>
                    <li>View who is enrolled in their courses</li>
                    <li>Create assignments and assign to students</li>
                    <li>Enter, track, and update grades per student</li>
                </ul>
            </li>
            <li>Parents being able to:<ul>
                    <li>View how their children are doing on grades</li>
                    <li>Update contact information for themselves, their children, others who are authorized to pick
                        children up from school or who should be contacted in case the parents are unavailable</li>
                </ul>
            </li>
            <li>Students being able to:<ul>
                    <li>View their grades</li>
                </ul>
            </li>
        </ul>
        <p>So far, I\'ve been able to get the following working:</p>
        <ul>
            <li>Parents are able to register both themselves and their children (after being verified by school staff)
            </li>
            <li>Staff are able to verify parents and students (right now this is just pressing a button, real world this
                would likely include submitting pictures of ID, billing addresses, etc)</li>
            <li>Teachers are able to create new homework, quiz or test assignments</li>
            <li>Staff are able to assign students to courses. This comes in two flavors: K-6 and 7-12. In the K-6
                version, this represents Kindergarden through 6th grade in most schools where students have one class
                throughout the year. In 7-12, this represents middle and high school where each student has 6 or more
                courses plus a homeroom</li>
        </ul>
    </li>
    <li>And now, this blog. Because I don\'t feel like trying to manage users and controlling access at this point, there
        is no form for submitting these blog entries. I write them on my local machine and add them straight to the
        hosting database.</li>
</ul>