<h3>New projects</h3> 
<p>Been a while since I updated this. Had to deal with a database issue with my hosting provider, went on a vacation, then go sucked into a big project at work that by the end of the day I didn\'t want to spend another minute looking at code. Things are slowing down a little and I\'m able to get back into some of my own projects, including a programming book I\'ve been working on and a few small applications for my site. The changes to the book include reorganizing the content into what I\'m hoping is a more sensible path.</p>
<p>One of the applications I\'m working on is a list manager, simple in concept. A simple application that allows users to build lists such as grocery lists, packing lists, places to visit, favorite movies or books, etc. Hoping to have something up and running in a few weeks.</p>
<p>Another big change is going through the Angular front end of my Monolith page and reorganizing files so that each application is self-contained (yes, I know, should have been doing this from the start and would have saved me time).</p>

<h3></h3>
<p></p>
