{% extends "main/layout.html" %}
{% block title %}
Coding Havoc - Hobbies
{% endblock %}

{% block navbar %}
<li><a href="{% url 'home' %}">Home</a></li>
<li><a href="{% url 'about' %}">About</a></li>
<li><a href="{% url 'links' %}">Links</a></li>
<li><a href="{% url 'projects' %}">Other Projects</a></li>
<li class="active"><a href="{% url 'hobbies' %}">Hobbies</a></li>
<li><a href="{% url 'contact' %}">Contact</a></li>
{% endblock %}

{% block content %}
<h1>Hobbies</h1>
<p>This page is a brief rundown of stuff I like to do when I'm not writing world changing code</p>
<hr>
<!-- <h3>Hobby 1</h3>
<p>Lorem Ipsum</p> -->
{% endblock %}