{% extends "main/layout.html" %}
{% block title %}
Coding Havoc - Home
{% endblock %}

{% block navbar %}
<li class="active"><a href="{% url 'home' %}">Home</a></li>
<li><a href="{% url 'about' %}">About</a></li>
<li><a href="{% url 'links' %}">Links</a></li>
<li><a href="{% url 'projects' %}">Other Projects</a></li>
<li><a href="{% url 'hobbies' %}">Hobbies</a></li>
<li><a href="{% url 'contact' %}">Contact</a></li>
{% endblock %}

{% block content %}
<h1>Coding Havoc</h1>
<p>Welcome to my site, a project I've been meaning to properly build out for years and have now brought to life. On here you will find more information about me, links to my professional profiles (LinkedIn, GitHub, etc), links to other web applications and pages showing some work with Django, Spring Boot, Javascript, Angular, and others.</p>
<hr>
<!-- <h3>Test</h3>
<p>Lorem ipsum...</p> -->
{% endblock %}