<!DOCTYPE html>
<html>

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  {% load bootstrap5 %}
  {% bootstrap_css %}
  {% bootstrap_javascript %}
  <title>{% block title %}{% endblock %}</title>
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'main/style/site.css' %}" />
</head>

<body>
  {% block navbar %}
  {% endblock %}

  <div class="mt-b-5">
    {% block content %}
    {% endblock %}
  </div>

  <!-- Footer -->
  <footer class="footer fixed-bottom text-center">
    <p>&copy; 2023</p>
  </footer>

</body>

</html>