{% extends "gndn/layout.html" %}

{% block title %}
GNDN Login
{% endblock %}

{% block navbar %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="{% url 'home' %}">Coding Havoc</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav">
          {% if logged_in_status != True %}
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="{% url 'gndn_main' %}">GNDN Main</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'gndn_register' %}">Register</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="{% url 'gndn_login' %}">Log In</a>
          </li>
          {% endif %}
          {% if logged_in_status == True%}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'gndn_logged_in' %}">Logged In Page</a>
          </li>
          {%endif%}
        </ul>
      </div>
  </nav>
{% endblock %}

{% block content %}
<h1>Log In Form</h1>
<form method="get" name="loginForm" action="{% url 'login' %}">
    <div>
        <p>
            <label>Username</label>
            <input type="text" name="userName">
        </p>
        <p>
            <label>Password</label>
            <input type="password" name="password">
        </p>
    </div>
    {% if login_failed == True %}
    <p style="color: red;"><i>Username or password are incorrect</i></p>
    {% endif %}
    <button type="submit" class="btn btn-primary">Login</button>
</form>
{% endblock %}